/* Hello! styles for the page in general! */

/* .container {
    border: solid red 1px;
}

.grid {
    border: solid red 1px;
} */

.content_img {
    width: 100%;
    height: 5rem;
}

.main {
    background-color: rgb(94, 94, 94);
    height: 100vh;
    border: solid rgba(0, 0, 0, 0) 1px;
}
